# --- SEGURIDAD (Separación de Política y Mecanismo) ---
.env
*.pem
*.key

# --- FRONTEND (Angular) ---
# Carpeta de dependencias
/resta-frontend/node_modules/
# Archivos de compilación
/resta-frontend/dist/
/resta-frontend/.angular/
# Logs de error
npm-debug.log*
yarn-error.log*

# --- BACKEND NODE.JS ---
/backend-node/node_modules/
/backend-node/dist/

# --- BACKEND PYTHON ---
# Entornos virtuales
venv/
.venv/
env/
# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# --- INFRAESTRUCTURA (Docker, Kafka, DB) ---
*/data/
*/db-data/
*.db
*.sqlite3

# --- SISTEMA Y EDITORES ---
.vscode/
.idea/
.DS_Store
Thumbs.db