<h1>Menú del Restaurante</h1>
<table style="border: solid 1px; width: 100%;">
    <thead style="border: solid 1px;">
        <tr>
            <th style="border: solid 1px;">Nombre</th>
            <th style="border: solid 1px;">Descripción</th>
            <th style="border: solid 1px;">Precio</th>
        </tr>
    </thead>
    <tbody style="border: solid 1px;">
        <tr style="border: solid 1px;" *ngFor="let prod of productos">
            <td style="border: solid 1px;">{{ prod.name }}</td>
            <td style="border: solid 1px;">{{ prod.description }}</td>
            <td style="border: solid 1px;">${{ prod.price }}</td>
        </tr>
    </tbody>
</table>